
<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<ul class="nav navbar-nav">
			<li id="li-nav-dashboard"><a href="/">Dashboard</a></li>
			<li id="li-nav-reviews"><a href="/reviews">Reviews</a></li>
			<li id="li-nav-requests"><a href="/requests">Requests</a></li>
			<li id="li-nav-crs"><a href="/crs">CRs</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Other <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="/uris">URIs</a></li>
					<li class="divider"></li>
					<li><a href="/requests/new">New Review Request</a></li>
					<li><a href="/crs/new">New Community Report</a></li>
					<li class="divider"></li>
					<li><a href="/rescans">Google Rescans</a></li>
					<li><a href="/googlesbd">Google SBD Lookup</a></li>
					<li><a href="/requests/responses">Request Responses</a></li>
					<li><a href="/requests/requesters">Review Requesters</a></li>
					<li class="divider"></li>
					<li><a href="/emailtemplates">Email Templates</a></li>
					<li><a href="/users">Users</a></li>
				</ul>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="/logout">Sign Out</a></li>
					<li class="divider"></li>
					<li><a href="/account/password">Reset Password</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>