html, body {
	color: #394A4E;
}
h1,
option {
	color: #2B373A;
}
label {
	color: #566F75;
	font-size: 1.2em;
}
h3 label,
h4 label {
	font-size: 1em;
	padding-right: 0.2em;
}
.sbw-red {
	color: #E34125;
}
.watson-green {
	color: #90B9C3;
}
.watson-green-bg {
	background-color: #C7DCE1;
}
.white-bg {
	background-color: #FFFFFF;
}
.inline {
	display: inline-block;
}
.true-inline {
	display: inline;
}
.nowrap {
	white-space: nowrap;
}
.non-vis {
	display: none;
}
.vis-hidden {
	visibility: hidden;
}
.no-dec:hover {
	text-decoration: none;
}
a,
.wrap {
	overflow-wrap: break-word;
	word-break: break-word;
}
.header-image {
	margin-right: 2.5em;
}
.no-margin {
	margin: 0;
}
.alert h2 {
	margin-top: 0;
}
.alert h3 {
	margin-top: 0.25em;
}
.alert h4 {
	margin-bottom: 0.25em;
}
.margin-bottom-none {
	margin-bottom: 0;
}
.margin-top-1em {
	margin-top: 1em;
}
.with-top-border {
	border-top-style: solid;
	border-top-width: thin;
	border-top-color: inherit;
}
.auto-width {
	width: auto;
}
.width-50 {
	width: 50%;
}
.width-100,
.progress-bar {
	width: 100%;
}
.width-375px {
	width: 375px;
}
.auto-margin {
	margin-left: auto;
	margin-right: auto;
}
.progress {
	margin-top: 1em;
	margin-bottom: 0;
}
.tag {
	color: #FFFFFF;
	background-color: #000000;
	padding: 0.2em;
	border-radius: 0.25em;
	display: inline-block;
}
#review-summary .tag {
	margin-top: 0.75em;
}
#review-summary h3 {
	margin-top: 0;
}
#review-summary .review-status {
	font-weight: 800;
}
.review-nav {
	margin-top: -1.25em;
	margin-bottom: .25em;
}
.glyphicon {
	pointer-events: none;
}
/* NAVBAR */
.navbar-default {
	background-color: #90B9C3;
	border: none;
	border-bottom: solid;
	border-color: #E7E7E7;
	border-radius: 0;
}
.navbar-default .navbar-nav>li>a {
	font-size: 1.4em;
	color: #FFFFFF;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #FFFFFF;
	background-color: #2B373A;
}
/* PILLS */
.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus {
	background-color: #90B9C3;
}
.nav-pills>li>a,
.nav-pills>li>a:hover, 
.nav-pills>li>a:focus {
	color: #394A4E;
}
.tab-pane {
	margin-bottom: 1.5em;
}
/* TABLES */
th,
.table>thead>tr>th {
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
	background-color: #90B9C3;
}
td a {
	word-break: break-all;
}
.table-condensed.table-sorted th {
	padding-right: 1.25em;
}
.table-sorted th {
	background-image: url(images/sort.png);
	background-repeat: no-repeat;
	background-position: center right;
}
.table-sorted th:hover {
	cursor: pointer;
	background-color: #2B373A;
}
.table-sorted th.sorter-false {
	background-image: none;
	padding-right: 5px;
}
.table-sorted .header-sort-up,
.table-sorted .header-sort-down {
	background-color: #648188;
}
.table-sorted .header-sort-up {
	background-image: url(images/asc.png);
}
.table-sorted .header-sort-down {
	background-image: url(images/desc.png);
}
.table-hover>tbody>tr:hover>td {
	background-color: #E8F1F3;
}
/* FORMS */
.form-control:focus {
	border-color: #90B9C3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(144, 185, 195, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(144, 185, 195, 0.6);
}
.form-well input {
	margin-bottom: 1.25em;
}
.form-box {
	margin-bottom: 1em;
}
.form-box .glyphicon {
	font-size: 1.2em;
	margin-top: 0.25em;
	margin-right: 0.5em;
}
.form-btn {
	margin-top: 1em;
}
.form-inline .form-btn {
	margin-top: 0;
}
.form-inline input,
.form-inline select {
	margin-right: 1.2em;
}
input[type=email] {
	min-width: 15em;
}
#reviews-filter label {
	margin-right: 0.25em;
}
#reviews-filter .form-btn {
	margin-left: 0.5em;
}
.keepwhite.form-control[readonly] {
	background-color: #FFFFFF;
}
textarea.form-control {
	min-width: 100%;
	max-width: 100%;
	width: 100%;
}
.list-style-none {
	list-style-type: none;
	padding-left: 0;
}
#associated-uris li {
	margin-bottom: 0.2em;
}
#associated-uris li input[type=url] {
	width: calc(100% - 406px);
}
#associated-uris li input,
#associated-uris li select {
	margin-right: 0.25em;
}
input[type=radio], 
input[type=checkbox],
input[type=radio]:focus, 
input[type=checkbox]:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.selectable:hover {
	cursor: pointer;
}
.selectable .glyphicon {
	font-size: 1.15em;
}
.selectable .glyphicon:hover {
	cursor: default;
}
#executable-hash {
	width: calc(100% - 200px);
}
/* DATE PICKER */
.form-inline .form-control.date-picker {
	width: 15em;
}
.calendar-date th.available,
.ranges .btn-success,
.daterangepicker td.active, 
.daterangepicker td.active:hover {
	background-color: #648188;
	border-color: #F9F9F9;
	color: #FFFFFF;
}
.calendar-date th.available:hover,
.ranges .btn-success:hover,
.daterangepicker .ranges li:hover {
	background-color: #2B373A;
}
.daterangepicker th {
	background-color: #FFFFFF;
	color: #2B373A;
}
.daterangepicker .ranges li.active {
	background: #648188;
	border: 1px solid #90B9C3;
}
.daterangepicker .ranges li {
	color: #2B373A;
}
.daterangepicker td.in-range {
	background-color: #E8F1F3;
}
/* IMAGES  */
.source-icon {
	width: 20px;
}
.icon-tts {
    background: url(/assets/images/tts_20x20.png) no-repeat;
}
.icon-goog {
    background: url(/assets/images/google_20x20.png) no-repeat;
}
.icon-nsf {
    background: url(/assets/images/nsfocus_20x20.png) no-repeat;
}
.icon-sbw {
    background: url(/assets/images/stopbadware_20x20.png) no-repeat;
}
.clipboard,
.clipboard:hover {
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 0.25em;
	width: 2em;
}
.clipboard {
	background-image: url(images/clipboard.svg);
}
.zeroclipboard-is-hover {
	background-image: url(images/clipboard-hover.svg);
}

