html, body {
	color: #394A4E;
}
h1 {
	color: #2B373A;
}
.watson-green {
	color: #90B9C3;
}
.watson-green-bg {
	background-color: #C7DCE1;
}
.inline {
	display: inline-block;
}
.non-vis {
	display: none;
}
.header-image {
	margin-right: 2.5em;
}
label {
	font-size: 1.2em;
}
.alert h2 {
	margin-top: 0;
}
.alert h4 {
	margin-bottom: 0;
}
.progress {
	margin-top: 1em;
	margin-bottom: 0;
}
.progress-bar {
	width: 100%;
}
/* NAVBAR */
.navbar-default {
	background-color: #90B9C3;
	border: none;
	border-bottom: solid;
	border-color: #E7E7E7;
	border-radius: 0;
}
.navbar-default .navbar-nav>li>a {
	font-size: 1.4em;
	color: #FFFFFF;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #FFFFFF;
	background-color: #2B373A;
}
/* REGISTER & LOGIN */
.form-well,
.form-success {
	width: 375px;
}
.form-well input {
	margin-bottom: 1.25em;
}
.form-box {
	margin-bottom: 1em;
}
.form-box .glyphicon {
	font-size: 1.2em;
	margin-top: 0.25em;
	margin-right: 0.5em;
}
.form-btn {
	margin-top: 1em;
}
