@(summaries: List[models.cr.CommunityReportSummary], title: String="Community Reports")
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">@title</h3>
	</div>
    <table id="crs-table" class="table table-striped table-hover table-condensed table-sorted">
    	<thead>
    		<tr>
    			<th title="Click to view CR details">ID</th>
    			<th>Description</th>
    			<th>Type</th>
    			<th>Source</th>
    			<th>IP</th>
    			<th>Reported</th>
    		</tr>
    	</thead>
    	<tbody>
    	@summaries.map { summary =>
    		<tr>
	    		<td title="View details for CR @summary.id" class="nowrap">
	    			<a href="/crs/@summary.id">@summary.id</a>
	    		</td>
	   			<td class="nowrap">
	   			@if(summary.description.isDefined) {
	   				@(if (summary.description.get.length>30) summary.description.get.slice(0, 30)+"..." else summary.description.get)
	   			}
	   			</td>
	   			<td>@summary.crType</td>
	   			<td>@summary.crSource</td>
	   			@if(summary.ip.nonEmpty){
   					<td class="text-right" title="View details for IP @summary.ip"><a href="/ips/@summary.ip" class="ipv4">@summary.ip</a></td>
  				} else {
  					<td></td>
				}
	   			<td class="text-right unixtime">@summary.reportedAt</td>
   			</tr>
   		}
    	</tbody>
    </table>
</div>