@(cr: models.cr.CommunityReport, uri: String, summaries: List[models.cr.CommunityReportSummary], events: List[BlacklistEvent])
@import models.cr._
@import scala.util.Try
@main("Community Report "+cr.id) {
<div id="cr-summary" class="well well-lg">
	<h3>
		<label>URI:</label>
		<a href="/uris/@cr.uriId">@uri</a>
		@partials.clipboard(uri)
	</h3>
	<h4><label>Reported:</label><span class="unixtime-full">@cr.reportedAt</span></h4>
	<h4><label>Reporter IP:</label>@if(cr.ip.isDefined){<span class="ipv4">@cr.ip</span>}</h4>
	<h4><label>Source:</label>@Try(CrSource.find(cr.crSourceId.get).get.fullName).toOption</h4>
	<h4><label>Type:</label>@Try(CrType.find(cr.crTypeId.get).get.crType).toOption</h4>
	<h4><label>Description:</label>@cr.description</h4>
	<h4><label>Bad Code:</label>@cr.badCode</h4>
	@partials.notes(CrNote.findByCr(cr.id), "cr", cr.id)
</div>
@partials.notestatus()
@tables.blacklistsummaries(events, "Blacklist history for URI")
@tables.crsummaries(summaries.filterNot(_.id==cr.id), "Other Community Reports for URI")
}
