@(email: String)
@main("Email Templates") {
<h3 class="sbw-red text-center">View/Modify Review Request Email Templates</h3>
<div class="well well-lg white-bg">
	<p>Message bodies support all HTML tags (bad code excerpts will be escaped). These placeholders can be used in message bodies and will be replaced as follows:</p>
	<ul>
		<li>
			<label class="sbw-red">[URI]</label>
			<span>inserts the URI the review was requested for linking to that URI (i.e. for use in clean notifications)</span>
		</li>
		<li>
			<label class="sbw-red">[SAFE_URI]</label>
			<span>inserts the text of the URI the review was requested for but links to the appropriate Clearinghouse entry (i.e. for use in initial and bad notifications)</span>
		</li>
		<li>
			<label class="sbw-red">[BAD_CODE]</label>
			<span>inserts the bad code / comments left from the reviewer (or verifier) for the requester (i.e. for use in confirmed bad notifications)</span>
		</li>
	</ul>
</div>
@defining("([A-Z][a-z]+)".r) { regex =>
@EmailTemplate.all.map { template =>
	<div class="well well-lg">
		<h4>@regex.findAllMatchIn(template.name).mkString(" ")</h4>
		<form class="form-box form-horizontal update-email-template @template.name-form" role="form">
			<div class="form-group">
			@defining(template.name+"-subject") { id =>
				<label class="control-label col-md-2" for="@id">Subject</label>
				<div class="col-md-10">
					<textarea id="@id" class="input-large form-control has-char-counter" rows="1" maxlength="128" disabled 
					name="@id" spellcheck="true" placeholder="Required" data-orig="@template.subject">@template.subject</textarea>
					@partials.charcounter(id, 128)
				</div>
			}
			</div>
			<div class="form-group">
			@defining(template.name+"-body") { id =>
				<label class="control-label col-md-2" for="@id">Body</label>
				<div class="col-md-10">
					<textarea id="@id" class="input-large form-control has-char-counter" rows="6" maxlength="4096" disabled 
					name="@id" spellcheck="true" placeholder="Required" data-orig="@template.body">@template.body</textarea>
					@partials.charcounter(id, 4096)
				</div>
			}
			</div>
			<div class="text-center">
				<button type="button" id="@template.name-edit" class="btn btn-default form-btn edit-email-template" data-template="@template.name">Edit</button>
				<button type="button" id="@template.name-send" class="btn btn-default form-btn send-email-template" title="Send a test email to @email" data-template="@template.name">Send Preview</button>
				<button type="button" id="@template.name-cancel" class="btn btn-default form-btn cancel-email-template" data-template="@template.name" disabled>Cancel</button>
				<button type="submit" id="@template.name-save" class="btn btn-default form-btn save-email-template" data-template="@template.name" disabled>Save</button>
			</div>
			<div class="width-50 auto-margin margin-top-1em margin-bottom-none">
				@partials.ajaxstatus("Unable to send email", "Sending email", "Email sent", template.name+"-send-update-status")()
				@partials.ajaxstatus("Unable to update template", "Updating template", "Template updated", template.name+"-save-update-status")()
			</div>
		</form>
	</div>
}
}
}
