@(param: Any)
@main("New Review Request") {
	<div id="review-request-well" class="well well-lg watson-green-bg width-50 text-center container">
		<form id="new-review-request" class="form-box form-horizontal " role="form">
			<div id="uri-form-group" class="form-group has-feedback">
				<label class="control-label col-md-2" for="uri">URI</label>
				<div class="col-md-10">
					<input type="url" class="input-large form-control" id="uri" name="uri" placeholder="Required" autofocus>
					<span id="uri-feedback" class="glyphicon form-control-feedback"></span>
				</div>
			</div>
			<div id="email-form-group" class="form-group has-feedback">
				<label class="control-label col-md-2" for="email">Email</label>
				<div class="col-md-10	">
					<input type="email" class="input-large form-control" id="email" placeholder="Required">
					<span id="email-feedback" class="glyphicon form-control-feedback"></span>
				</div>
			</div>
			<div id="notes-form-group" class="form-group">
				<label class="control-label col-md-2" for="notes">Notes</label>
				<div class="col-md-10">
					<textarea id="requester-notes" class="input-large form-control has-char-counter" rows="4" maxlength="512" id="notes" name="notes" spellcheck="true" placeholder="Optional"></textarea>
					@partials.charcounter("requester-notes", 512)
				</div>
			</div>
			<button type="submit" id="btn-request-review" class="btn btn-default form-btn">Request Review</button>
		</form>
	</div>
}
