@main("New Review Request") {
<div class="width-75 auto-margin">
	<div id="review-request" class="well well-lg watson-green-bg text-center tab-pane fade in active">
		<form id="review-request" class="form-box form-horizontal review-request-box" role="form">
			<div id="uri-form-group" class="form-group">
				<label class="control-label col-md-2" for="uris">URIs</label>
				<div class="col-md-10">
					<textarea id="uris" class="input-large form-control has-char-counter rr-uri" rows="14" maxlength="4096" name="uris" spellcheck="false" placeholder="Required (one URI per line)" autofocus></textarea>
					@partials.charcounter("uris", 4096)
				</div>
			</div>
			<div id="email-form-group" class="form-group has-feedback">
				<label class="control-label col-md-2" for="email">Email</label>
				<div class="col-md-10">
					<input type="email" class="input-large form-control rr-email" id="email" name="email" placeholder="Required">
					<span id="email-feedback" class="glyphicon form-control-feedback"></span>
				</div>
			</div>
			<div id="notes-form-group" class="form-group">
				<label class="control-label col-md-2" for="notes">Notes</label>
				<div class="col-md-10">
					<textarea id="notes" class="input-large form-control has-char-counter rr-notes" rows="4" maxlength="512" name="notes" spellcheck="true" placeholder="Optional"></textarea>
					@partials.charcounter("notes", 512)
				</div>
			</div>
			<button type="submit" id="btn-request-review" class="btn btn-default form-btn">Request Review</button>
		</form>
	</div>
	@partials.ajaxstatus("Unable to request review", "Submitting review request", "Review requested!")()
</div>
}
