@main("Password Reset", false) {
	<h3 class="text-center">Enter an email address to send password reset link or <a href="/welcome">sign in</a>.</h3>
    <div id="pwreset-well" class="well well-lg form-well width-375px watson-green-bg text-center container">
		<form id="pwreset-box" class="form-box">
			<div id="input-email-form-group" class="form-group has-feedback">
				<label class="control-label" for="input-email">Email</label>
				<input type="email" class="input-large form-control" id="input-email" placeholder="Email" autofocus="autofocus">
				<span id="input-email-feedback" class="glyphicon form-control-feedback"></span>
			</div>
			<div class="control-group">
				<button type="submit" id="btn-pwreset" class="btn btn-default form-btn">Send Reset Email</button>
			</div>
		</form>
    </div>
    
    @partials.ajaxstatus("Password reset email NOT sent", "Sending password reset email", "Sent!", "width-375px")(successHtml="Check your email for password reset instructions.")
}
