@main("Register", false) {
    <h3 class="container text-center">Registration requires a StopBadware email address. Passwords must have  a minimum 
    length of 10, containing at least one each of lowercase, uppercase, numbers, and special characters.</h3>
    
    <div id="register-well" class="well well-lg watson-green-bg text-center container">
		<form id="register-box">
			<div id="input-email-form-group" class="form-group has-feedback">
				<label class="control-label" for="input-email">Email</label>
				<input type="email" class="input-large form-control" id="input-email" placeholder="Email">
				<span id="input-email-feedback" class="glyphicon form-control-feedback"></span>
			</div>
			<div id="input-password-form-group" class="form-group has-feedback">
				<label class="control-label" for="input-password">Password</label>
				<input type="password" class="input-large form-control" id="input-password" placeholder="Password">
				<span id="input-password-feedback" class="glyphicon form-control-feedback"></span>
			</div>
			<div id="input-pw-confirm-form-group" class="form-group has-feedback">
				<label class="control-label" for="input-pw-confirm">Confirm Password</label>
				<input type="password" class="input-large form-control" id="input-pw-confirm" placeholder="Confirm Password">
				<span id="input-pw-confirm-feedback" class="glyphicon form-control-feedback"></span>
			</div>
			<div class="control-group">
				<button type="submit" id="btn-register" class="btn btn-default">Register</button>
			</div>
		</form>
		
		<div id="register-alert" class="alert alert-danger non-vis">
	        <h4 id="register-alert-msg">Unable to create account</h4>
        </div>
		<div id="register-info" class="alert alert-warning non-vis">
	        <h4 id="register-info-msg">Creating account...</h4>
	        @partials.progressbar()
        </div> 
    </div>
    
    <div id="register-success" class="container text-center alert alert-success non-vis">
		<h2>Account created!</h2>
		<h4>Please follow the instructions in the confirmation email.</h4>
	</div>
    
    <h3 class="text-center">If you already have an account please <a href="/welcome">sign in</a>.</h3>

}