@(requests: List[ReviewRequest], uris: Map[Int, String], max: Int, user: User)
@import models.enums.Role
@main("Requests") {
@if(requests.size >= max) {
<h3 class="text-center sbw-red">Limiting display to @max most recent requests</h3>
}
<div class="panel panel-default">
	<div class="panel-body">
		<form id="requests-filter" class="form-inline text-center">
			<label class="control-label" for="status">Status</label>
			<select id="status" name="status" class="form-control">
				<option value="open">Open</option>
				<option class="text-muted" disabled="disabled">----------------</option>
				<option value="all-closed">All Closed</option>
				<option value="abusive">Abusive</option>
				<option value="administrative">Administrative</option>
				<option value="reviewed-bad">Reviewed Bad</option>
				<option value="reviewed-clean">Reviewed Clean</option>
				<option value="no-partners-reporting">No Partners Reporting</option>
			</select>
			
			<label class="control-label" for="email">Email</label>
			<input type="email" class="form-control" id="email" name="email">	
			
			<label class="control-label" for="requested">Requested</label>
			<input type="text" class="form-control date-picker text-center" id="requested" name="requested">
			
			<button type="submit" id="btn-filter" class="btn btn-default form-btn">Filter</button>	
		</form>
	</div>
	<table id="requests-table" class="table table-striped table-hover table-condensed table-sorted">
    	<thead>
    		<tr>
    			<th id="selectable-toggle-all" class="sorter-false selectable">
    				<span class="glyphicon glyphicon-unchecked true-inline"></span>
    				<span class="glyphicon glyphicon-check non-vis"></span>
    				<input id="toggle-all" type="checkbox" value="all" class="non-vis">
    			</th>
    			<th title="Click URI to view request">URI</th>
    			<th>Email</th>
    			<th>IP</th>
    			<th>Requested At</th>
    			<th>Closed At</th>
    			<th>Closed Reason</th>
    			<th>Review</th>
    		</tr>
    	</thead>    	
    	<tbody>
    	@requests.map { request =>
    		<tr class="text-center">
    			@defining(request.id) { id =>
    			<td id="selectable-@id" class="selectable">
    				<span class="glyphicon glyphicon-unchecked true-inline"></span>
    				<span class="glyphicon glyphicon-check non-vis"></span>
    				<input type="checkbox" value="@id" class="non-vis">
   				</td>
    			}
    			@defining(uris(request.uriId)) { uri =>
    			<td class="text-left nowrap" title="View details for @uri">
    				<a href="/requests/@request.id">@(if (uri.length>40) uri.slice(0, 40)+"..." else uri)</a>
   				</td>
   				}
    			<td class="text-right">@request.email</td>
    			@if(request.ip.nonEmpty){<td class="text-right" title="@request.ip"><a href="/ips/@request.ip" class="ipv4">@request.ip</a></td>}else{<td></td>}
    			<td class="unixtime text-right">@request.requestedAt</td>
    			@if(request.closedAt.nonEmpty){<td class="unixtime text-right">@request.closedAt</td>}else{<td></td>}
    			@if(request.closedReason.nonEmpty){<td class="enum">@request.closedReason</td>}else{<td></td>}
    			<td><a href="/reviews/@request.reviewId">@request.reviewId</a></td>
    		</tr>
    	}
    	</tbody>
	</table>
	<div class="panel-body hide-on-no-results with-top-border">
	@defining(if (user.hasRole(Role.VERIFIER)) "" else "disabled") { disabled =>
		<form class="form-inline text-center">
			<fieldset @disabled>
				<label class="control-label" for="close-as">Close selected as</label>
				<select id="close-as" name="close-as" class="form-control">
					<option value="absuive">Abusive</option>
					<option value="administrative">Administrative</option>
				</select>
				<button type="submit" id="btn-close-as" class="btn btn-default form-btn">Close</button>	
			</fieldset>
		</form>
	}
	</div>
	@partials.noresults()
</div>	
}