@(user: User)
@import models.enums.Role
@main("Request Responses") {
@defining(user.hasRole(Role.VERIFIER) || user.hasRole(Role.ADMIN)) { canModify =>
	<div id="view-request-responses" class="well well-lg">
		@RequestResponse.allResponses.groupBy(_.question).map { case (question, summaries) =>
			<label>@question</label>
			@if(canModify) {
				@defining(if (summaries.head.questionEnabled) "Enabled" else "Disabled") { txt =>
				<button type="button" class="btn @(if (summaries.head.questionEnabled) "btn-success" else "btn-danger") btn-xs">@txt</button>
				}
			}
			<table class="table table-condensed auto-width">
				<thead>
					<tr>
						<th>answer</th>
						<th>count</th>
						@if(canModify) {
							<th></th>
						}
					</tr>
				</thead>
				@summaries.map { summary =>
				<tr>
					<td>@summary.answer</td>
					<td class="text-right">@summary.count</td>
					@if(canModify) {
						@defining(if (summary.answerEnabled) "Enabled" else "Disabled") { txt =>
						<td><button type="button" class="btn @(if (summary.answerEnabled) "btn-success" else "btn-danger") btn-xs">@txt</button></td>
						}
					}
				</tr>
				}
			</table>
		}
	</div>
	@if(canModify) {
	<form id="add-request-responses" class="form-box form-horizontal well well-lg" role="form">
		<div class="form-group">
			<label class="control-label col-md-1" for="question">Question</label>
			<div class="col-md-11">
				<input type="text" class="input-large form-control" id="question" name="question" placeholder="Required">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-1" for="answer-0">Answers</label>
			<div class="col-md-11">
			@for(i <- 0 to 6) {
				@defining(if (i < 2) "Required" else "Optional") { req =>
				<input type="text" class="input-large form-control" id="answer-@i" name="answer-@i" placeholder="@req">
				}
			}
			</div>
		</div>
		<div class="text-center">
			<button type="submit" id="btn-add-request-response" class="btn btn-default form-btn">Add Question</button>
		</div>
	</form>
	@partials.ajaxstatus("Unable to add question", "Adding question", "Question added!")()
	}
}
}
