@(details: ReviewDetails, user: User)
@import models.enums.ReviewStatus
@import models.enums.Role
@main("Review "+details.review.id) {
	<div class="review-nav">
	@defining(details.review.siblings) { sibs =>
		@defining(if (details.review.status.isOpen) (if (details.review.status.eq(ReviewStatus.PENDING_BAD)) "Pending" else "Open") else "Closed") { desc =>
			@defining(if (sibs("prev").isEmpty) "disabled" else "") { disabled =>
			<a href="/reviews/@sibs("prev").getOrElse(details.review.id)" role="button" class="btn btn-default" @disabled>Previous @desc</a>
			}
			@defining(if (sibs("next").isEmpty) "disabled" else "") { disabled =>
			<a href="/reviews/@sibs("next").getOrElse(details.review.id)" role="button" class="btn btn-default" @disabled>Next @desc</a>
			}
		}
	}
	</div>
	
	<div id="review-summary" class="well well-lg">
		<h3>URI: <a href="/uris/@details.uri.id">@details.uri.uri</a></h3>
		<h4>Created: <span class="unixtime-full">@details.review.createdAt</span></h4>
		<h4>Status: <span id="status" class="sbw-red review-status enum">@details.review.status</span> 
		@if(details.review.status != ReviewStatus.NEW) {
		(<span id="status-updated" class="unixtime-full">@details.review.statusUpdatedAt</span>)
		}
		</h4>
		@if(user.hasRole(Role.REVIEWER)) {
			@defining(if (details.review.isOpen) "" else "disabled") { disabled =>
			<button type="button" class="btn btn-default" @disabled>Bad</button>
			<button type="button" class="btn btn-default" @disabled>Clean</button>
			}
		}
		@if(user.hasRole(Role.VERIFIER)) {
			@defining(if (details.review.isOpen) "" else "disabled") { disabled =>
			<button type="button" class="btn btn-default" @disabled>Close Without Review</button>
			<button type="button" class="btn btn-default" @disabled>Close Bad</button>
			}
			@defining(if (details.review.status == ReviewStatus.PENDING_BAD) "" else "disabled") { disabled =>
			<button type="button" class="btn btn-default" @disabled>Send Back</button>
			}
			@defining(if (details.review.isOpen) "disabled" else "") { disabled =>
			<button type="button" class="btn btn-default" @disabled>Re-Open</button>
			}
		}
		<div>
		@details.review.reviewTags.map { tagId =>
			@defining(details.tags(tagId)) { tag =>
			<a href="/tags/@tag.name" class="no-dec"><span class="tag" data-tagbg="@tag.hexColor">@tag</span></a>
			}
		}
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Blacklist Events</h3>
		</div>
	    <table id="reviews-blacklist-table" class="table table-striped table-hover table-condensed table-sorted">
	    	<thead>
	    		<tr>
	    			<th>Blacklisted By</th>
	    			<th>Blacklisted From</th>
	    			<th>Blacklisted To</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    	@details.blacklistEvents.map { event =>
				<tr class="text-right">
					<td>@event.source
						<div class="inline source-icon icon-@event.source.toString.toLowerCase">
							<span class="vis-hidden">@event.source.toString</span>
						</div>
					</td>
					<td class="unixtime-full">@event.blacklistedAt</td>
					@if(event.unblacklistedAt.nonEmpty){<td class="unixtime-full">@event.unblacklistedAt.get</td>}else{<td></td>}
				</tr>			
			}
	    	</tbody>
    	</table>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Review Requests</h3>
		</div>
	    <table id="reviews-requests-table" class="table table-striped table-hover table-condensed table-sorted">
	    	<thead>
	    		<tr>
	    			<th title="click to view full review request">ID</th>
	    			<th>Requester Email</th>
	    			<th>Requester IP</th>
	    			<th>Requester Notes</th>
	    			<th>Requested At</th>
	    			<th>Closed At</th>
	    			<th>Closed Reason</th>
	    			<th>Review</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    	@details.reviewRequests.map { request =>
				<tr class="text-center">
					<td><a href="/requests/@request.id">@request.id</a></td>
					<td class="text-right">@request.email</td>
					@if(request.ip.nonEmpty){<td class="ipv4 text-right" title="@request.ip.get">@request.ip.get</td>}else{<td></td>}
					<td class="text-left">@request.requesterNotes.getOrElse("")</td>
					<td class="unixtime text-right">@request.requestedAt</td>
					@if(request.closedAt.nonEmpty){<td class="unixtime text-right">@request.closedAt.get</td>}else{<td></td>}
					@if(request.closedReason.nonEmpty){<td class="enum">@request.closedReason.get</td>}else{<td></td>}
					@if(request.reviewId.nonEmpty){
						<td><a href="/reviews/@request.reviewId.get">@request.reviewId.get</a></td>
					} else {
						<td></td>
					}
				</tr>			
			}
	    	</tbody>
    	</table>
	</div>	
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Other Reviews</h3>
		</div>
	    <table id="reviews-others-table" class="table table-striped table-hover table-condensed table-sorted">
	    	<thead>
	    		<tr>
	    			<th title="click to view full review">ID</th>
	    			<th>Tags</th>
	    			<th>Created At</th>
	    			<th>Status Updated</th>
	    			<th>Status</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    	@details.otherReviews.map { review =>
				<tr class="text-center">
					<td><a href="/reviews/@review.id">@review.id</a></td>
					<td>
					@review.reviewTags.map { tagId =>
						@defining(details.tags(tagId)) { tag =>
	   					<a href="/tags/@tag.name" class="no-dec"><span class="tag" data-tagbg="@tag.hexColor">@tag</span></a>
	   					}
   					}
   					</td>
					<td class="unixtime text-right">@review.createdAt</td>
					@if(review.statusUpdatedAt!=review.createdAt){<td class="unixtime text-right">@review.statusUpdatedAt</td>}else{<td></td>}
					<td class="enum">@review.status</td>
				</tr>			
			}
	    	</tbody>
    	</table>		
	</div>	
	
	<div id="review-test-data" class="well well-lg watson-green-bg">
		@defining(if (user.hasRole(Role.REVIEWER)) "" else "readonly") { readonly =>
		<form id="review-test-data-box">
			<textarea id="badcode" name="badcode" class="form-control keepwhite" rows="5" placeholder="Bad Code" maxlength="4096" spellcheck="false" @readonly></textarea>
			<div class="text-right" title="used / max characters">
				<label class="control-label no-margin" for="badcode">
					<div id="badcode-used-char-ctr" class="inline">0</div>
					<div class="inline">/</div>
					<div class="inline">4096</div>
				</label>
			</div>
			@if(user.hasRole(Role.REVIEWER)) {
			<div class="text-right">
				<h5>Snapshot: <span>@details.review.id - @details.uri.uri</span></h5>
				@defining(if (details.review.isOpen) "" else "disabled") { disabled =>
				<button type="button" class="btn btn-default" @disabled title="Saves the test data for this review">Save</button>
				<button type="button" class="btn btn-default" @disabled title="Saves the test data for this review, marks it BAD, and moves to the next OPEN review">Save -> Bad -> Next</button>
				}
			</div>
		}
		</form>
		}
	</div>	
	
	<ul class="nav nav-pills panel">
		<li class="active"><a href="#goog" data-toggle="tab">Google</a></li>
		<li><a href="#vt" data-toggle="tab">VirusTotal</a></li>
		<li><a href="#dsp" data-toggle="tab">DSP</a></li>
		<li><a href="#sbwcr" data-toggle="tab">Community Reports</a></li>
		<li><a href="#scans" data-toggle="tab">Scans</a></li>
		<li><a href="#resolver" data-toggle="tab">Resolver</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane fade in active" id="goog">
		    <table id="reviews-rescans-table" class="table table-striped table-hover table-condensed table-sorted">
		    	<thead>
		    		<tr>
		    			<th>URI</th>
		    			<th title="Safe Browsing Diagnostics">SBD</th>
		    			<th>Status</th>
		    			<th>Rescanned At</th>
		    			<th>Requested Via</th>
		    		</tr>
		    	</thead>
		    	<tbody>
		    	@details.googleRescans.map { rescan =>
					<tr class="text-center">
						<td class="text-left"><a href="/uris/@rescan.uriId">@(details.rescanUris(rescan.uriId))</a></td>
						<td><a href="https://www.google.com/safebrowsing/diagnostic?site=@(details.rescanUris(rescan.uriId))" target="_blank">SBD</a></td>
						<td>@rescan.status</td>
						<td class="unixtime-full text-right">@rescan.rescannedAt</td>
						<td>@rescan.requestedVia</td>
					</tr>			
				}
		    	</tbody>
	    	</table>		
		</div>
		<div class="tab-pane fade" id="vt">TODO WTSN-53 VT</div>
		<div class="tab-pane fade" id="dsp">TODO WTSN-49 DSP</div>
		<div class="tab-pane fade" id="sbwcr">TODO WTSN-16 SBWCR</div>
		<div class="tab-pane fade" id="scans">TODO WTSN-24 SCANS</div>
		<div class="tab-pane fade" id="resolver">TODO WTSN-14 RESOLVER</div>
	</div>
	
}