@(details: ReviewDetails)
@main("Review "+details.review.id) {
	<div id="" class="">
		<h4>@details.uri.uri</h4>
		<h4>@details.review.createdAt, @details.review.statusUpdatedAt, @details.review.status</h4>
		@details.review.reviewTags.map { tagId =>
			<h4 class="tag">@details.tags(tagId)</h4>
		}
		<h4>@(details.review.id + " -  " + details.uri.uri)</h4>
	</div>
	
	<div id="" class="">
		<h4>test data</h4>
		<h4>add tags</h4>
		<h4>change status</h4>
	</div>
	
	<div id="" class="">
		<h2>url data</h2>
		@details.blacklistEvents.map { event =>
			<h4>@event</h4>			
		}
		@details.googleRescans.map { rescan =>
			<h4>@rescan</h4>			
		}
		<h4>safe browsing</h4>
		<h4>dsp</h4>
		<h4>vt</h4>
		<h4>scanner results</h4>
		<h4>cr</h4>
		<h4>domain related</h4>
		<h4>resolver info</h4>		
	</div>
	
	<div id="" class="">
		@details.reviewRequests.map { request =>
			<h4>@request</h4>			
		}
		<h4>current</h4>
		<h4>historical</h4>
	</div>
	
	<div id="" class="">
		@details.otherReviews.map { review =>
			<h4>@review</h4>			
		}
	</div>
}